.container {
	width:auto;
	height:100%;
	color:white;
}

#left-menu {
	width: 20%;
	background-color: orange;
	height: 100%;
	float:left;
	padding:20px;
	-moz-box-sizing:border-box;
	margin-top:1px;
	clear:both;
}

#left-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: monospace;
}

#left-menu li {
	padding:10px;
}

#input-area {
	width:40%;
	height:100%;
	background-color: violet;
	float:left;
	color:white;
	border:0;
	font-size:16px;
	padding:20px;
	-moz-box-sizing:border-box;
}

#output-area {
	width:40%;
	height:100%;
	background-color: teal;
	float:left;
	color:white;
	border:0;
	font-size:16px;
	padding:20px;
	border:0;
	margin-top:1px;
	-moz-box-sizing:border-box;
	overflow-y: scroll;
	word-wrap:break-word;
}

code,pre {
	width:100%;
	overflow: scroll;
	font-size:14px;
}

#title-field input {
	border:none;
	border-bottom:1px solid black;
	line-height:20px;
	margin:10px;
	padding:5px;
	font-size:20px;
	float:left;
}

#save-button {
	padding:10px;
	color:black;
	display:block;
	float:right;
	font-family: monospace;
	font-size: 20px;
	margin-top:10px;
	margin-right:20px;
}

#last-saved {
	float:right;
	display:block;
	font-size:12px;
	padding:10px;
	margin-top:12px;
	color:black;
}