body {
	background-color: #767;
}

.container {
	height:100%;
	overflow: hidden;
	padding:0 10px;
}

#left-menu {
	width: 20%;
	background-color: #a9a;
	float:left;
	padding:20px;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	clear:both;
	min-height:90%;
	color:#eee;
}

#left-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: monospace;
}

#left-menu li {
	padding:10px;
}

.left-menu-title {
	padding:5px;
	cursor: pointer;
	word-wrap:break-word;
}

.delete-button {
	padding:0 5px;
	cursor: pointer;
	margin-left:-15px;
	margin-right:5px;
}

#input-area {
	width:40%;
	height:90%;
	background-color: #bab;
	float:left;
	color:white;
	border:0;
	font-size:16px;
	padding:20px;
	margin:0;
	outline:none;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
}

#output-area {
	width:40%;
	height:90%;
	background-color: #a9a;
	float:left;
	color:white;
	border:0;
	font-size:16px;
	padding:20px;
	border:0;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	overflow-y: scroll;
	word-wrap:break-word;
}

code,pre {
	width:100%;
	overflow: scroll;
	font-size:14px;
}

#title-field input {
	border:none;
	border-bottom:1px solid #ccc;
	line-height:20px;
	margin:10px 0;
	padding:5px;
	font-size:20px;
	float:left;
	color:#ccc;
	background-color:#767;
	width:20%;
	outline:none;
}

#title-field input:focus {
	background-color:#eee;
	color:#666;
}

#new-document {
	color:#ccc;
	font-size:30px;
	cursor:pointer;
	margin-left:10px;
	margin-top:10px;
	display:block;
	float:left;
}

#save-button {
	color:#767;
	display:block;
	float:right;
	font-family: monospace;
	font-size: 20px;
	width:100px;
	height:30px;
	margin-top:10px;
	background-color: #eee;
	border:1px solid #ccc;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
}

#save-button.disabled {
	background-color: #767;
	color: #ccc;
	border:1px solid #ccc;
}

#last-saved {
	float:right;
	display:block;
	font-size:12px;
	padding:10px;
	margin-top:12px;
	color:black;
}
